*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #301F25;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

.header {
    height: 80vh;
    background-color: black;
    background-image: url("./images/background1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: -200px;
    width: 100%;
    position: relative;
    margin: auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 2em;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
button a{
    cursor: pointer;
    text-decoration: none;
    color: #222;
    font-size: 15px;
    

}
.hero-button input{
    background-color: #4C4949;
    width: 400px;
    height: 60px;
    border-radius: 26px;
    margin-left: 60px;
}

.login {
    display: flex;
    align-items: center;
   
}

.hero-section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}
hr{
    width: 90%;
    height: 3px;
    background-color:gray;
    margin: auto;
}

.hero-text {
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 3em;
}

.hero-button button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}


.footer {
    padding: 20px;
    text-align: center;
}
.main{
    width: 80%;
    margin: auto;
    margin-top: 5em;
}
.main h2{
    font-size: 2em;
    color: #bfb4b5;

}
.carousel-inner{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
}
.logo2{
    width: 150px;
    border-radius: 10px;
}
@media (max-width:1250px){
    .logo2{
        width: 70px;
    }
    .card-body{
        gap: 2em;
    }
    
 

}
.card-body h5{
    font-weight: 700;
    color:white;
    display: flex;
    text-align: center;
}
.card-text{
    color: #BFB4B5;

}
.card{
    background-color: #2C2929;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 40px;
    border: thin solid rgba(70, 65, 40, 0.407)     ;
    
    
}
.card-h2{
    color: #BFB4B5;
    margin-top: 100px;
    width: 80%;

}

/* accordion  */

.acord-sect{
    width: 80%;
    margin: 100px auto;

}

.accordion-button{
    background-color: #2C2929;
    border: 2px solid rgba(128, 128, 128, 0.356);
    color: white;
}
.h1{
    color: white;
}
.accordion-body{
    background-color: #2C2929;
    border: 2px solid rgba(128, 128, 128, 0.356);
    color: white;
}
/* section */
.sect-signin{
    width: 80%;
    margin: auto;
    text-align: center;
}
.sect-signin p{
    color: #BFB4B5;
}
.sect-signin form input{
    background-color: #222222;
    padding: 12px 80px;
    border: 2px solid rgba(128, 128, 128, 0.76);
    border-radius: 5px;
}
.signin-button2{
    padding: 12px 50px;
    background-color: #E50914;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}
/* footer */
footer{
    width: 80%;
    margin: 100px auto;
}
.quest p a{
    color: #BFB4B5;
}
.footer-list{
    display: flex;
    align-items: center;
    gap: 5em;
    line-height: 2em;
   
}
.list-sect li a{
    color: #BFB4B5;
}
.english{
    background-color: #2C2929;
    border-radius: 20px;
    border: 2px soild gray;
    padding: 6px 18px;
    color: white;
}
.footer-text p{
    color: #BFB4B5;
}